{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Lista de Productos
{% endblock %}

{# CONTENIDO #}
{% block body %}


	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Lista de Productos (Categoria)</h1>
		</div>

		{% if insert %}
			<div class="alert alert-success" role="alert">
			  Producto Agregado!
			</div>
		{% endif %}
      	<div class="table-responsive">
         	<table class="table table-striped table-sm">
	            <thead>
	               <tr>
	                  <th>#</th>
	                  <th><a href="{{ path('categoriesFilter',{'order':'code', 'categoryId':categoryId }) }}">C칩digo<span data-feather="chevron-down"></span></a></th>
	                  <th><a href="{{ path('categoriesFilter',{'order':'nameProduct', 'categoryId':categoryId }) }}">Nombre<span data-feather="chevron-down"></span></a></th>
	                  <th>Descripci칩n</th>
	                  <th>Marca</th>
	                  <th><a href="{{ path('categoriesFilter',{'order':'category', 'categoryId':categoryId }) }}">Categoria<span data-feather="chevron-down"></span></a></th>
	                  <th><a href="{{ path('categoriesFilter',{'order':'price', 'categoryId':categoryId }) }}">Precio<span data-feather="chevron-down"></span></a></th>
	                  <th>Acci칩n</th>
	               </tr>
	            </thead>
	            <tbody>
	            	{% for product in products %}
		                  <td>{{ product.id }}</td>
		                  <td>{{ product.code }}</td>
		                  <td>{{ product.nameProduct }}</td>
		                  <td>{{ product.descriptionProduct }}</td>
		                  <td>{{ product.brand }}</td>
		                  <td>{{ product.category }}</td>
		                  <td>{{ product.price }}</td>
		                  <td>
		                  	<a class="text-info" href="{{ path('newProduct',{'id':product.id }) }}">
		                  		<span data-feather="edit-2"></span>
		                  	</a>  - 
		                  	<a class="text-info" onclick="confirmDelete()" href="{{ path('deleteProduct',{'id':product.id }) }}">
		                  		<span data-feather="trash-2"></span>
		                  	</a> 
		                  </td>
		               </tr>
					   {% endfor %}
	            </tbody>
	        </table>
    	</div>
    	<p class="">
	    	P치gina {{actualPage}} de {{maxPages}}
    	</p>
    	<nav aria-label="Page navigation example">
		  	<ul class="pagination">
		  		{% if actualPage > 1 %}
		  			<li class="page-item">
		  				<a class="page-link" href="{{ path('categoriesFilter',{currentPage:actualPage-1<1?1:actualPage-1, 'categoryId':categoryId, 'order':order}) }}">Anterior</a>
		  			</li>
				{% endif %}

		  		{% for i in 1..maxPages %}
		    		<li class="page-item">
		    			<a class="page-link" href="{{ path('categoriesFilter',{currentPage:i, 'categoryId':categoryId, 'order':order}) }}">
		    				{{i}}
		    			</a>
		    		</li>
			   {% endfor %}


		  		{% if actualPage < maxPages %}
		  			<li class="page-item">
		  				<a class="page-link" href="{{ path('categoriesFilter',{currentPage:actualPage+1<=maxPages?actualPage+1, 'categoryId':categoryId, 'order':order}) }}">Siguiente</a>
		  			</li>
				{% endif %}


		  	</ul>
		</nav>
	</main>

{% endblock %}