{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	Lista de Categorias
{% endblock %}

{# CONTENIDO #}
{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Lista de Categorias</h1>
		</div>

		{% if insert %}
			<div class="alert alert-success" role="alert">
			  Categoria Agregada!
			</div>
		{% endif %}

		<h6>Para activar o desactivar una categoria debe ingresar a editar 
			<span class="text-info" data-feather="edit-2"></span> </h6>

        <div class="table-responsive">
         <table class="table table-striped table-sm">
            <thead>
               <tr>
                  	<th>#</th>
	                <th><a href="{{ path('categories',{'order':'code' }) }}">Código<span data-feather="chevron-down"></span></a></th>
	                <th><a href="{{ path('categories',{'order':'nameCategory' }) }}">Nombre<span data-feather="chevron-down"></span></a></th>
                  	<th>Descripción</th>
	                <th><a href="{{ path('categories',{'order':'active' }) }}">Estado<span data-feather="chevron-down"></span></a></th>
                  	<th>Acción</th>
               </tr>
            </thead>
            <tbody>
            	{% for category in categories %}
	                  <td>{{ category.id }}</td>
	                  <td>{{ category.code }}</td>
	                  <td>{{ category.nameCategory }}</td>
	                  <td>{{ category.descriptionCategory }}</td>
	                  <td>
						{% if category.active == 1 %}
						    Activo 
						{% else %}
						    Inactivo
						{% endif %}
	                  </td>
	                  <td>
	                  	<a class="text-info" href="{{ path('newCategory',{'id':category.id }) }}">
	                  		<span data-feather="edit-2"></span>
	                  	</a>
	                  </td>
	               </tr>
				   {% endfor %}
            </tbody>
            </table>
          </div>
	</main>
	
    

{% endblock %}